<div *ngIf="gnom" class="displayed-gnom">
  <span class="close" (click)=clearGnom()>x</span>
  <div class="displayed-gnom-photo">
    <img [src]=[gnom.thumbnail] alt="profile photo" >
  </div>
  <div class="displayed-gnom-details">
    <div>{{ "Name: " + gnom.name }}</div>
    <div>{{ "Age: " + gnom.age }}</div>
    <div>{{ "Weight: " + gnom.weight }}</div>
    <div>{{ "Height: " + gnom.height }}</div>
    <div>{{ "Hair Color: " + gnom.hair_color }}</div>
    <div> Professions: </div>
    <div *ngFor= "let profession of gnom.professions" style="padding-left: 5%;">
      {{ " - " + profession }}
    </div>
    <div> Friends: </div>
    <div *ngFor= "let friend of gnom.friends" style="padding-left: 5%;">
     {{ " - " + friend }}
  </div>
</div>